node_modules/
dist/
.vscode/
*.ipynb_output
src/__pycache__/
__pycache__/
data/
cache/
evaluations/
kd_llm_venv/
input/
results/
runs/
new_venv/
plots/
dev/
figshare.py 
kd_torchtune.py
model_expl.py
model_performance.png
modularize copy.py
modularize_slow.py
plots.py
run.py
scraping.log
models/
gitignore.txt
